<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Django App</title>
</head>
<body>
<div>

    {{ contentstr }}

</div>

<div>
    {% for item in list %}
        {{ item }} {% if not forloop.last %},{% endif %}
    {% endfor %}
</div>

<div>
    The Tutorial List
    {% for i in tutorialList %}
        <p>{{ i }}</p>
    {% endfor %}

</div>

<div>

    Site: {{ info_dict.site }} /
    Content: {{ info_dict.content }}

</div>
<div>
    {% for key,value in info_dict.iteritems %}
        {{ key }}  ---  {{ value }}
    {% endfor %}
</div>
<div style="">
    <a href="{% url 'add' 4 5 %}">plus 4 + 5</a>
    <a href="/add/1/2">old link for plus 1 + 2</a>
</div>

<div>
    <form action="/add/flexible/" method="get">
        a: <input type="text" name="a" id="a"><br>
        b: <input type="text" name="b" id="b"><br>
        <input type="submit" value="SUBMIT">
    </form>

</div>

</body>
</html>